* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .question {
    font-size: 30px !important;
    margin-top: 150px !important;
  }
  .answer {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .question {
    font-size: 15px !important;
  }
  .answer {
    font-size: 15px !important;
  }
  .load-cont {
    width: 150px !important;
  }
}

.content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00001d;
  position: relative;
  overflow-x: hidden;
}

.content .game-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .game-content .load-cont {
  width: 200px;
  position: absolute;
  left: 10px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .game-content .load-cont p {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 25px;
  font-family: 'Nova Square', cursive;
}

.content .game-content .load-cont .w-load {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  border: 3px solid #1c9650;
  position: relative;
}

.content .game-content .load-cont .w-load .loading {
  border-radius: 10px;
  background-color: #1c9650;
  width: 0%;
  height: 100%;
}

.content .game-content .load-cont .w-load .loading p {
  color: #ffffff9f;
  font-family: 'Nova Square', cursive;
  position: absolute;
  left: 30%;
}

.content .game-content .score-cont {
  position: absolute;
  right: 10px;
  top: 100px;
}

.content .game-content .score-cont .score-p {
  font-size: 25px;
  font-family: 'Nova Square', cursive;
  color: #ffffff;
}

.content .game-content .question {
  margin-top: 60px;
  width: 70%;
  font-size: 30px;
  font-family: 'Nova Square', cursive;
  color: #ffffff;
  margin-bottom: 50px;
}

.content .game-content .question-main {
  width: 70%;
  position: relative;
}

.content .game-content .question-main .ques-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  color: #ffffff;
  font-size: 25px;
  background-color: #3550a1;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  border: none;
}

.content .game-content .question-main .ques-cont:hover {
  -webkit-box-shadow: 1px 0px 15px 0px #327399;
          box-shadow: 1px 0px 15px 0px #327399;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.content .game-content .next-quest {
  font-family: 'Nova Square', cursive;
  position: absolute;
  right: 10px;
  bottom: -20px;
  border-radius: 12px;
  width: 120px;
  height: 50px;
  background-color: #24c54c;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 2;
}

.content .game-content .next-quest:hover {
  -webkit-box-shadow: 1px 0px 29px 0px #45ee61;
          box-shadow: 1px 0px 29px 0px #45ee61;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .game-content .unclickable {
  position: absolute;
  right: 10px;
  bottom: -20px;
  border-radius: 12px;
  width: 120px;
  height: 50px;
  background-color: #ffffff63;
  z-index: 3;
}

.content .start-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 400px;
  width: 70%;
}

.content .start-form label {
  font-size: 40px;
  font-family: 'Nova Square', cursive;
  color: #ffffff;
  margin-top: 30px;
}

.content .start-form select {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.content .start-form #start-game-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecec2a;
  margin-top: 30px;
  cursor: pointer;
  width: 150px;
  height: 50px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-family: 'Nova Square', cursive;
  color: #40276e;
}

.content .start-form #start-game-btn:hover {
  -webkit-box-shadow: 1px 0px 29px 0px #ecec2a;
          box-shadow: 1px 0px 29px 0px #ecec2a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .end-game {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .end-game .last-h1 {
  font-size: 50px;
  font-family: 'Nova Square', cursive;
  color: #78357a;
}

.content .end-game .play-again {
  border-radius: 12px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nova Square', cursive;
  font-size: 35px;
  cursor: pointer;
  width: 200px;
  height: 55px;
  background-color: #66be3e;
  color: #0a524c;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.content .end-game .play-again:hover {
  -webkit-box-shadow: 1px 0px 29px 0px #decf4f;
          box-shadow: 1px 0px 29px 0px #decf4f;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #423458;
}
/*# sourceMappingURL=global.css.map */